{% import_yaml "logentries_agent/defaults.yaml" as default_settings %}

{%set distro_map = salt['grains.filter_by']({
	'Debian':   {'logentries_daemon': 'logentries-daemon',
		        'logentries': 'logentries',
                'deps': ['python-setproctitle',
                        'python-psutil'],
                'service': 'logentries'},
    'Ubuntu':   {'logentries_daemon': 'logentries-daemon',
		        'logentries': 'logentries',
                'deps': ['python-setproctitle',
                        'python-psutil'],
                'service': 'logentries'},
}, merge=salt['pillar.get']('logentries_agent:lookup')) %}

{% do default_settings.logentries_agent.update(distro_map) %}

{% set logentries_agent_settings = salt['pillar.get']('logentries_agent', default=default_settings.logentries_agent, merge=True) %}
